body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.game-container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  width: 300px;
  border: 2px solid #4D7CFE;
}

h2 {
  margin-top: 0;
  font-size: 24px;
  color: #333;
}
.line{
  width: 100%;
  border: 1px solid grey;
}
#scrambled-word {
  font-size: 24px;
  margin: 20px 0;
  text-align: center;
font-weight: bold;
  letter-spacing: 5px;
  color: #333;
}

#hint {
  font-size: 13px;
  margin: 20px 0 10px 0;
  /* color: #666; */
}

#time-left {
  font-size: 13px;
  margin: 10px 0 0 0;
  /* color: #666; */
}

input {
  margin: 15px 0;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: calc(100% - 22px);
  font-size: 16px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

button {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 48%;
  font-size: 16px;
  cursor: pointer;
}

#check-word {
  background-color: #4D7CFE;
  color: white;
  border: none;
}

#refresh-word {
  background-color: #6c757d;
  color: white;
  border: none;
}

#feedback {
  margin-top: 10px;
  font-size: 13px;
  color: #333;
}
.attempts{
  font-size: 13px;
}
#attempts {
  font-weight: bold;
  color: #333;

}
